<footer>
  
   <div class="container footer-container">
        <div class="row center-xs footer-wrap"> 
           <div class="col-xs-12">
            <h3>Donate to the project:</h3> 
            <p>Email: anonimal [at] getmonero.org</p>
           </div>
           </div>
           <div class="row center-xs">
    <p>{%t global.no-js%}</p>
</div> 
        <div class="row center-xs">
           <div class="col-xs-12">
            <p>
                <a class="white" href="https://gitlab.com/kovri-project/kovri-site" target="_blank" rel="noreferrer noopener">{% t global.site-source %}</a> |
                <a class="white" href="legal.html">{% t titles.legal %}</a> |
                <a href="acknowledgements.html" class="white">{% t titles.acknowledgements %}</a>
            </p>
            </div>
        </div> 
         <div class="row center-xs">
              <div class="col-xs-12">
               <p>Copyright &copy; 2017-2018, The Kovri Project </p>
             </div>
         </div>
   </div>
    
</footer>
